.app{
   display: flex;
   flex-direction: column;
   justify-content:center;
   align-items: center;
   gap: 12px;
   position: relative;
   top:15vh;
}
@media screen and (min-width: 400px) {
  .app{
    top:13vh;
 }
}
.card{
  background-color: hsl(225, 100%, 98%);
  width:300px;
  text-align: center;
  border-radius:20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 20px;
}
.card img{
  width: 100%;
  border-radius:20px 20px 0px 0px;
}
.card p{
  font-size:15px;
  line-height:20px;
  color: hsl(224, 23%, 55%);
  margin:0px 23px 0px 23px;
}
.card button{
  outline: none;
  margin:0px 20px 0px 20px;
  font-weight:700;
  color: hsl(225, 100%, 98%);
  background-color: hsl(245, 75%, 52%);
  border-radius:10px;
  border: none;
  padding:7px 0px 7px 0px;
  cursor: pointer;
  box-shadow: 0 3px 10px hsl(245, 75%, 52%);
}
.card button:hover{
  opacity: .8;
}
.card .cancel{
  color: hsl(224, 23%, 55%);
  cursor: pointer;
}
.card .cancel:hover{
  color: black;
}
.plans{
  background-color:hsl(222, 23%, 78%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin:0px 20px 0px 20px;
  border-radius:10px;
  padding:10px 10px 10px 10px;
}
.plans img{
  height:45px;
  width:45px;
}
.plans .plan-selection{
   display:flex;
   flex-direction:column;
   justify-content:space-between;
}
.plans a{
  font-weight:700;
  cursor: pointer;
}
.plans a:hover{
  text-decoration:none;
  opacity:.8;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }