.app{
   display: flex;
   flex-direction: column;
   justify-content:center;
   align-items: center;
   gap: 10px;
   position: relative;
   top:15vh;
}
.card{
  background-color: hsl(225, 100%, 98%);
  width:320px;
  text-align: center;
  border-radius:20px;
}
.card img{
  width: 100%;
  border-radius:20px 20px 0px 0px;
}
.card p{
  font-size:14px;
  line-height:25px;
  color: hsl(224, 23%, 55%);
}
.plans{
  background-color:hsl(222, 23%, 78%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin:0px 20px 0px 20px;
  border-radius:10px;
}
.plans img{
  height:40px;
  width:40px;
}
.plans .plan-selection{
   display:flex;
   flex-direction:column;
   justify-content:space-between;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }